.buttonpage {
    border: none;
    transition: 0.3s;
  }
.buttonpage:hover {
    opacity: 5;
    background-color:rgb(141, 140, 140);
    }
.gradient {
    background-image: linear-gradient(rgb(0, 81, 255), rgb(0, 179, 255), rgb(0, 217, 255));
}
.font-g {
    background: -webkit-linear-gradient(#0075fa, #00fffb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
  }
.font-a {
    background: -webkit-linear-gradient(#000000, #013736);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
  }
  .Rock{
    background-color: #0075fa;
  }
  .Pop{
    background-color: #fabb00;
  }
  .Reggae{
    background-color: #00ff37;
  }
